*.o
*.lo
*.la
*~

autoCrop
autoCropScribe
tests/cropAndSkewProxy
tests/cropAndSkewTwo

leptonica-1.68/Makefile
leptonica-1.68/config.log
leptonica-1.68/config.status
leptonica-1.68/configure.lineno
leptonica-1.68/lib/
leptonica-1.68/libtool
leptonica-1.68/prog/.deps/
leptonica-1.68/prog/.libs/
leptonica-1.68/prog/Makefile
leptonica-1.68/prog/adaptmaptest
leptonica-1.68/prog/adaptnorm_reg
leptonica-1.68/prog/affine_reg
leptonica-1.68/prog/alltests_reg
leptonica-1.68/prog/alphaclean_reg
leptonica-1.68/prog/alphaxform_reg
leptonica-1.68/prog/arithtest
leptonica-1.68/prog/barcodetest
leptonica-1.68/prog/baselinetest
leptonica-1.68/prog/bilinear_reg
leptonica-1.68/prog/binarize_reg
leptonica-1.68/prog/bincompare
leptonica-1.68/prog/binmorph1_reg
leptonica-1.68/prog/binmorph2_reg
leptonica-1.68/prog/binmorph3_reg
leptonica-1.68/prog/binmorph4_reg
leptonica-1.68/prog/binmorph5_reg
leptonica-1.68/prog/blend2_reg
leptonica-1.68/prog/blend_reg
leptonica-1.68/prog/blendcmaptest
leptonica-1.68/prog/blendtest1
leptonica-1.68/prog/buffertest
leptonica-1.68/prog/byteatest
leptonica-1.68/prog/ccbordtest
leptonica-1.68/prog/cctest1
leptonica-1.68/prog/ccthin1_reg
leptonica-1.68/prog/ccthin2_reg
leptonica-1.68/prog/cmapquant_reg
leptonica-1.68/prog/colormask_reg
leptonica-1.68/prog/colormorphtest
leptonica-1.68/prog/colorquant_reg
leptonica-1.68/prog/colorseg_reg
leptonica-1.68/prog/colorsegtest
leptonica-1.68/prog/colorspacetest
leptonica-1.68/prog/comparepages
leptonica-1.68/prog/comparetest
leptonica-1.68/prog/compfilter_reg
leptonica-1.68/prog/conncomp_reg
leptonica-1.68/prog/contrasttest
leptonica-1.68/prog/conversion_reg
leptonica-1.68/prog/convertfilestopdf
leptonica-1.68/prog/convertfilestops
leptonica-1.68/prog/convertformat
leptonica-1.68/prog/convertsegfilestopdf
leptonica-1.68/prog/convertsegfilestops
leptonica-1.68/prog/converttogray
leptonica-1.68/prog/converttops
leptonica-1.68/prog/convolve_reg
leptonica-1.68/prog/convolvetest
leptonica-1.68/prog/cornertest
leptonica-1.68/prog/croptext
leptonica-1.68/prog/dewarp_reg
leptonica-1.68/prog/dewarptest
leptonica-1.68/prog/digitprep1
leptonica-1.68/prog/distance_reg
leptonica-1.68/prog/dithertest
leptonica-1.68/prog/dwalineargen
leptonica-1.68/prog/dwamorph1_reg
leptonica-1.68/prog/dwamorph2_reg
leptonica-1.68/prog/edgetest
leptonica-1.68/prog/enhance_reg
leptonica-1.68/prog/equal_reg
leptonica-1.68/prog/expand_reg
leptonica-1.68/prog/extrema_reg
leptonica-1.68/prog/falsecolortest
leptonica-1.68/prog/fcombautogen
leptonica-1.68/prog/fhmtauto_reg
leptonica-1.68/prog/fhmtautogen
leptonica-1.68/prog/fileinfo
leptonica-1.68/prog/findpattern1
leptonica-1.68/prog/findpattern2
leptonica-1.68/prog/findpattern3
leptonica-1.68/prog/findpattern_reg
leptonica-1.68/prog/flipdetect_reg
leptonica-1.68/prog/flipselgen
leptonica-1.68/prog/fmorphauto_reg
leptonica-1.68/prog/fmorphautogen
leptonica-1.68/prog/fpix_reg
leptonica-1.68/prog/gammatest
leptonica-1.68/prog/genfonts
leptonica-1.68/prog/gifio_reg
leptonica-1.68/prog/graphicstest
leptonica-1.68/prog/grayfill_reg
leptonica-1.68/prog/graymorph1_reg
leptonica-1.68/prog/graymorph2_reg
leptonica-1.68/prog/graymorphtest
leptonica-1.68/prog/grayquant_reg
leptonica-1.68/prog/hardlight_reg
leptonica-1.68/prog/heap_reg
leptonica-1.68/prog/histotest
leptonica-1.68/prog/inserttest
leptonica-1.68/prog/ioformats_reg
leptonica-1.68/prog/iotest
leptonica-1.68/prog/jbcorrelation
leptonica-1.68/prog/jbrankhaus
leptonica-1.68/prog/jbwords
leptonica-1.68/prog/kernel_reg
leptonica-1.68/prog/lineremoval
leptonica-1.68/prog/listtest
leptonica-1.68/prog/livre_adapt
leptonica-1.68/prog/livre_hmt
leptonica-1.68/prog/livre_makefigs
leptonica-1.68/prog/livre_orient
leptonica-1.68/prog/livre_pageseg
leptonica-1.68/prog/livre_seedgen
leptonica-1.68/prog/livre_tophat
leptonica-1.68/prog/locminmax_reg
leptonica-1.68/prog/logicops_reg
leptonica-1.68/prog/lowaccess_reg
leptonica-1.68/prog/maketile
leptonica-1.68/prog/maze_reg
leptonica-1.68/prog/misctest1
leptonica-1.68/prog/modifyhuesat
leptonica-1.68/prog/morphseq_reg
leptonica-1.68/prog/morphtest1
leptonica-1.68/prog/mtifftest
leptonica-1.68/prog/numa_reg
leptonica-1.68/prog/numaranktest
leptonica-1.68/prog/otsutest1
leptonica-1.68/prog/otsutest2
leptonica-1.68/prog/overlap_reg
leptonica-1.68/prog/pagesegtest1
leptonica-1.68/prog/pagesegtest2
leptonica-1.68/prog/paint_reg
leptonica-1.68/prog/paintmask_reg
leptonica-1.68/prog/partitiontest
leptonica-1.68/prog/pdfiotest
leptonica-1.68/prog/pdfseg_reg
leptonica-1.68/prog/pixa1_reg
leptonica-1.68/prog/pixa2_reg
leptonica-1.68/prog/pixaatest
leptonica-1.68/prog/pixadisp_reg
leptonica-1.68/prog/pixalloc_reg
leptonica-1.68/prog/pixcomp_reg
leptonica-1.68/prog/pixmem_reg
leptonica-1.68/prog/pixserial_reg
leptonica-1.68/prog/pixtile_reg
leptonica-1.68/prog/plottest
leptonica-1.68/prog/pngio_reg
leptonica-1.68/prog/printimage
leptonica-1.68/prog/printsplitimage
leptonica-1.68/prog/printtiff
leptonica-1.68/prog/projection_reg
leptonica-1.68/prog/projective_reg
leptonica-1.68/prog/psio_reg
leptonica-1.68/prog/psioseg_reg
leptonica-1.68/prog/pta_reg
leptonica-1.68/prog/ptra1_reg
leptonica-1.68/prog/ptra2_reg
leptonica-1.68/prog/quadtreetest
leptonica-1.68/prog/rank_reg
leptonica-1.68/prog/rankbin_reg
leptonica-1.68/prog/rankhisto_reg
leptonica-1.68/prog/ranktest
leptonica-1.68/prog/rasterop_reg
leptonica-1.68/prog/rasteropip_reg
leptonica-1.68/prog/reducetest
leptonica-1.68/prog/removecmap
leptonica-1.68/prog/renderfonts
leptonica-1.68/prog/rotate1_reg
leptonica-1.68/prog/rotate2_reg
leptonica-1.68/prog/rotatefastalt
leptonica-1.68/prog/rotateorth_reg
leptonica-1.68/prog/rotateorthtest1
leptonica-1.68/prog/rotatetest1
leptonica-1.68/prog/rotatetest2
leptonica-1.68/prog/runlengthtest
leptonica-1.68/prog/scale_reg
leptonica-1.68/prog/scaleandtile
leptonica-1.68/prog/scaletest1
leptonica-1.68/prog/scaletest2
leptonica-1.68/prog/seedfilltest
leptonica-1.68/prog/seedspread_reg
leptonica-1.68/prog/selio_reg
leptonica-1.68/prog/sharptest
leptonica-1.68/prog/shear2_reg
leptonica-1.68/prog/shear_reg
leptonica-1.68/prog/sheartest
leptonica-1.68/prog/showedges
leptonica-1.68/prog/skew_reg
leptonica-1.68/prog/skewtest
leptonica-1.68/prog/smallpix_reg
leptonica-1.68/prog/smoothedge_reg
leptonica-1.68/prog/snapcolortest
leptonica-1.68/prog/sorttest
leptonica-1.68/prog/splitcomp_reg
leptonica-1.68/prog/splitimage2pdf
leptonica-1.68/prog/string_reg
leptonica-1.68/prog/subpixel_reg
leptonica-1.68/prog/sudokutest
leptonica-1.68/prog/textlinemask
leptonica-1.68/prog/threshnorm_reg
leptonica-1.68/prog/translate_reg
leptonica-1.68/prog/trctest
leptonica-1.68/prog/viewertest
leptonica-1.68/prog/warper_reg
leptonica-1.68/prog/warpertest
leptonica-1.68/prog/watershedtest
leptonica-1.68/prog/wordsinorder
leptonica-1.68/prog/writemtiff
leptonica-1.68/prog/writetext_reg
leptonica-1.68/prog/xformbox_reg
leptonica-1.68/prog/xtractprotos
leptonica-1.68/prog/xvdisp
leptonica-1.68/prog/yuvtest
leptonica-1.68/src/.deps/
leptonica-1.68/src/.libs/
leptonica-1.68/src/Makefile
leptonica-1.68/src/xtractprotos

leptonlib-1.56/Makefile
leptonlib-1.56/config.log
leptonlib-1.56/config.status
leptonlib-1.56/config_auto.h
leptonlib-1.56/endiantest
leptonlib-1.56/lib/
leptonlib-1.56/prog/adaptmaptest
leptonlib-1.56/prog/affinetest
leptonlib-1.56/prog/arithtest
leptonlib-1.56/prog/barcodetest
leptonlib-1.56/prog/baselinetest
leptonlib-1.56/prog/bilineartest
leptonlib-1.56/prog/bincompare
leptonlib-1.56/prog/binmazetest
leptonlib-1.56/prog/binmorph1_reg
leptonlib-1.56/prog/binmorph2_reg
leptonlib-1.56/prog/binmorph3_reg
leptonlib-1.56/prog/blendcmaptest
leptonlib-1.56/prog/blendtest1
leptonlib-1.56/prog/buffertest
leptonlib-1.56/prog/ccbordtest
leptonlib-1.56/prog/cctest1
leptonlib-1.56/prog/ccthin1_reg
leptonlib-1.56/prog/ccthin2_reg
leptonlib-1.56/prog/cmapquant_reg
leptonlib-1.56/prog/colormorphtest
leptonlib-1.56/prog/colorquant_reg
leptonlib-1.56/prog/colorquanttest
leptonlib-1.56/prog/colorsegtest
leptonlib-1.56/prog/colorspacetest
leptonlib-1.56/prog/comparetest
leptonlib-1.56/prog/compfilter_reg
leptonlib-1.56/prog/conncomp_reg
leptonlib-1.56/prog/contrasttest
leptonlib-1.56/prog/conversion_reg
leptonlib-1.56/prog/convertfilestops
leptonlib-1.56/prog/convertformat
leptonlib-1.56/prog/converttogray
leptonlib-1.56/prog/converttops
leptonlib-1.56/prog/convolvetest
leptonlib-1.56/prog/cornertest
leptonlib-1.56/prog/croptext
leptonlib-1.56/prog/distance_reg
leptonlib-1.56/prog/dithertest
leptonlib-1.56/prog/dwamorph1_reg
leptonlib-1.56/prog/edgetest
leptonlib-1.56/prog/enhance_reg
leptonlib-1.56/prog/equal_reg
leptonlib-1.56/prog/expand_reg
leptonlib-1.56/prog/extrematest
leptonlib-1.56/prog/falsecolortest
leptonlib-1.56/prog/fcombautogen
leptonlib-1.56/prog/fhmtauto_reg
leptonlib-1.56/prog/fhmtautogen
leptonlib-1.56/prog/fileinfo
leptonlib-1.56/prog/findpattern1
leptonlib-1.56/prog/findpattern2
leptonlib-1.56/prog/findpattern3
leptonlib-1.56/prog/flipdetect_reg
leptonlib-1.56/prog/flipselgen
leptonlib-1.56/prog/fmorphauto_reg
leptonlib-1.56/prog/fmorphautogen
leptonlib-1.56/prog/gammatest
leptonlib-1.56/prog/genfonts
leptonlib-1.56/prog/gifio_reg
leptonlib-1.56/prog/graphicstest
leptonlib-1.56/prog/graymazetest
leptonlib-1.56/prog/graymorph_reg
leptonlib-1.56/prog/graymorphtest
leptonlib-1.56/prog/hardlight_reg
leptonlib-1.56/prog/heaptest
leptonlib-1.56/prog/histotest
leptonlib-1.56/prog/inserttest
leptonlib-1.56/prog/ioformats_reg
leptonlib-1.56/prog/iotest
leptonlib-1.56/prog/jbcorrelation
leptonlib-1.56/prog/jbrankhaus
leptonlib-1.56/prog/jbwords
leptonlib-1.56/prog/kernel_reg
leptonlib-1.56/prog/lineremoval
leptonlib-1.56/prog/listtest
leptonlib-1.56/prog/locminmax_reg
leptonlib-1.56/prog/logicops_reg
leptonlib-1.56/prog/maketile
leptonlib-1.56/prog/modifyhuesat
leptonlib-1.56/prog/morphseq_reg
leptonlib-1.56/prog/morphtest1
leptonlib-1.56/prog/mtifftest
leptonlib-1.56/prog/numa_reg
leptonlib-1.56/prog/numaranktest
leptonlib-1.56/prog/pagesegtest1
leptonlib-1.56/prog/pagesegtest2
leptonlib-1.56/prog/pagesegtest3
leptonlib-1.56/prog/paint_reg
leptonlib-1.56/prog/paintmask_reg
leptonlib-1.56/prog/partitiontest
leptonlib-1.56/prog/pixa_reg
leptonlib-1.56/prog/pixaatest
leptonlib-1.56/prog/pixadisp_reg
leptonlib-1.56/prog/pixtile_reg
leptonlib-1.56/prog/plottest
leptonlib-1.56/prog/printimage
leptonlib-1.56/prog/printsplitimage
leptonlib-1.56/prog/printtiff
leptonlib-1.56/prog/projectivetest
leptonlib-1.56/prog/rank_reg
leptonlib-1.56/prog/ranktest
leptonlib-1.56/prog/rasterop_reg
leptonlib-1.56/prog/rasteropip_reg
leptonlib-1.56/prog/reducetest
leptonlib-1.56/prog/removecmap
leptonlib-1.56/prog/renderfonts
leptonlib-1.56/prog/rotate_reg
leptonlib-1.56/prog/rotatefastalt
leptonlib-1.56/prog/rotateorth_reg
leptonlib-1.56/prog/rotateorthtest1
leptonlib-1.56/prog/rotatetest1
leptonlib-1.56/prog/runlengthtest
leptonlib-1.56/prog/scale_reg
leptonlib-1.56/prog/scaletest1
leptonlib-1.56/prog/scaletest2
leptonlib-1.56/prog/seedfilltest
leptonlib-1.56/prog/selio_reg
leptonlib-1.56/prog/sharptest
leptonlib-1.56/prog/sheartest
leptonlib-1.56/prog/showedges
leptonlib-1.56/prog/skewtest
leptonlib-1.56/prog/snapcolortest
leptonlib-1.56/prog/sorttest
leptonlib-1.56/prog/splitimage2pdf
leptonlib-1.56/prog/string_reg
leptonlib-1.56/prog/textlinemask
leptonlib-1.56/prog/thresholdtest
leptonlib-1.56/prog/viewertest
leptonlib-1.56/prog/wordsinorder
leptonlib-1.56/prog/xformbox_reg
leptonlib-1.56/prog/xvdisp
leptonlib-1.56/src/.deps/
leptonlib-1.56/src/Makefile
leptonlib-1.56/src/liblept.a
leptonlib-1.56/stamp-h1
