*.o
*~

autoCrop
leptonlib-1.56/Makefile
leptonlib-1.56/config.log
leptonlib-1.56/config.status
leptonlib-1.56/config_auto.h
leptonlib-1.56/endiantest
leptonlib-1.56/lib/
leptonlib-1.56/prog/adaptmaptest
leptonlib-1.56/prog/affinetest
leptonlib-1.56/prog/arithtest
leptonlib-1.56/prog/barcodetest
leptonlib-1.56/prog/baselinetest
leptonlib-1.56/prog/bilineartest
leptonlib-1.56/prog/bincompare
leptonlib-1.56/prog/binmazetest
leptonlib-1.56/prog/binmorph1_reg
leptonlib-1.56/prog/binmorph2_reg
leptonlib-1.56/prog/binmorph3_reg
leptonlib-1.56/prog/blendcmaptest
leptonlib-1.56/prog/blendtest1
leptonlib-1.56/prog/buffertest
leptonlib-1.56/prog/ccbordtest
leptonlib-1.56/prog/cctest1
leptonlib-1.56/prog/ccthin1_reg
leptonlib-1.56/prog/ccthin2_reg
leptonlib-1.56/prog/cmapquant_reg
leptonlib-1.56/prog/colormorphtest
leptonlib-1.56/prog/colorquant_reg
leptonlib-1.56/prog/colorquanttest
leptonlib-1.56/prog/colorsegtest
leptonlib-1.56/prog/colorspacetest
leptonlib-1.56/prog/comparetest
leptonlib-1.56/prog/compfilter_reg
leptonlib-1.56/prog/conncomp_reg
leptonlib-1.56/prog/contrasttest
leptonlib-1.56/prog/conversion_reg
leptonlib-1.56/prog/convertfilestops
leptonlib-1.56/prog/convertformat
leptonlib-1.56/prog/converttogray
leptonlib-1.56/prog/converttops
leptonlib-1.56/prog/convolvetest
leptonlib-1.56/prog/cornertest
leptonlib-1.56/prog/croptext
leptonlib-1.56/prog/distance_reg
leptonlib-1.56/prog/dithertest
leptonlib-1.56/prog/dwamorph1_reg
leptonlib-1.56/prog/edgetest
leptonlib-1.56/prog/enhance_reg
leptonlib-1.56/prog/equal_reg
leptonlib-1.56/prog/expand_reg
leptonlib-1.56/prog/extrematest
leptonlib-1.56/prog/falsecolortest
leptonlib-1.56/prog/fcombautogen
leptonlib-1.56/prog/fhmtauto_reg
leptonlib-1.56/prog/fhmtautogen
leptonlib-1.56/prog/fileinfo
leptonlib-1.56/prog/findpattern1
leptonlib-1.56/prog/findpattern2
leptonlib-1.56/prog/findpattern3
leptonlib-1.56/prog/flipdetect_reg
leptonlib-1.56/prog/flipselgen
leptonlib-1.56/prog/fmorphauto_reg
leptonlib-1.56/prog/fmorphautogen
leptonlib-1.56/prog/gammatest
leptonlib-1.56/prog/genfonts
leptonlib-1.56/prog/gifio_reg
leptonlib-1.56/prog/graphicstest
leptonlib-1.56/prog/graymazetest
leptonlib-1.56/prog/graymorph_reg
leptonlib-1.56/prog/graymorphtest
leptonlib-1.56/prog/hardlight_reg
leptonlib-1.56/prog/heaptest
leptonlib-1.56/prog/histotest
leptonlib-1.56/prog/inserttest
leptonlib-1.56/prog/ioformats_reg
leptonlib-1.56/prog/iotest
leptonlib-1.56/prog/jbcorrelation
leptonlib-1.56/prog/jbrankhaus
leptonlib-1.56/prog/jbwords
leptonlib-1.56/prog/kernel_reg
leptonlib-1.56/prog/lineremoval
leptonlib-1.56/prog/listtest
leptonlib-1.56/prog/locminmax_reg
leptonlib-1.56/prog/logicops_reg
leptonlib-1.56/prog/maketile
leptonlib-1.56/prog/modifyhuesat
leptonlib-1.56/prog/morphseq_reg
leptonlib-1.56/prog/morphtest1
leptonlib-1.56/prog/mtifftest
leptonlib-1.56/prog/numa_reg
leptonlib-1.56/prog/numaranktest
leptonlib-1.56/prog/pagesegtest1
leptonlib-1.56/prog/pagesegtest2
leptonlib-1.56/prog/pagesegtest3
leptonlib-1.56/prog/paint_reg
leptonlib-1.56/prog/paintmask_reg
leptonlib-1.56/prog/partitiontest
leptonlib-1.56/prog/pixa_reg
leptonlib-1.56/prog/pixaatest
leptonlib-1.56/prog/pixadisp_reg
leptonlib-1.56/prog/pixtile_reg
leptonlib-1.56/prog/plottest
leptonlib-1.56/prog/printimage
leptonlib-1.56/prog/printsplitimage
leptonlib-1.56/prog/printtiff
leptonlib-1.56/prog/projectivetest
leptonlib-1.56/prog/rank_reg
leptonlib-1.56/prog/ranktest
leptonlib-1.56/prog/rasterop_reg
leptonlib-1.56/prog/rasteropip_reg
leptonlib-1.56/prog/reducetest
leptonlib-1.56/prog/removecmap
leptonlib-1.56/prog/renderfonts
leptonlib-1.56/prog/rotate_reg
leptonlib-1.56/prog/rotatefastalt
leptonlib-1.56/prog/rotateorth_reg
leptonlib-1.56/prog/rotateorthtest1
leptonlib-1.56/prog/rotatetest1
leptonlib-1.56/prog/runlengthtest
leptonlib-1.56/prog/scale_reg
leptonlib-1.56/prog/scaletest1
leptonlib-1.56/prog/scaletest2
leptonlib-1.56/prog/seedfilltest
leptonlib-1.56/prog/selio_reg
leptonlib-1.56/prog/sharptest
leptonlib-1.56/prog/sheartest
leptonlib-1.56/prog/showedges
leptonlib-1.56/prog/skewtest
leptonlib-1.56/prog/snapcolortest
leptonlib-1.56/prog/sorttest
leptonlib-1.56/prog/splitimage2pdf
leptonlib-1.56/prog/string_reg
leptonlib-1.56/prog/textlinemask
leptonlib-1.56/prog/thresholdtest
leptonlib-1.56/prog/viewertest
leptonlib-1.56/prog/wordsinorder
leptonlib-1.56/prog/xformbox_reg
leptonlib-1.56/prog/xvdisp
leptonlib-1.56/src/.deps/
leptonlib-1.56/src/Makefile
leptonlib-1.56/src/liblept.a
leptonlib-1.56/stamp-h1
